doctype html
html
  head
    title Error - Sweetcam
    style.
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        text-align: center;
      }
      .error {
        color: red;
        margin: 20px;
      }
  body
    h1 Error
    div.error= error
    a(href='/') Return to Home 